In [50]:
import pandas as pd

# Correct Superstore dataset link
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/flights.csv"

df = pd.read_csv(url)

df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [51]:
df.isnull().sum()

year          0
month         0
passengers    0
dtype: int64

In [52]:
df.duplicated().sum()

np.int64(0)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [54]:
# Create a new Date column
df['Date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'])

df.head()

/tmp/ipython-input-800277025.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'])

   year     month  passengers       Date
0  1949   January         112 1949-01-01
1  1949  February         118 1949-02-01
2  1949     March         132 1949-03-01
3  1949     April         129 1949-04-01
4  1949       May         121 1949-05-01

In [55]:
# Drop unnecessary columns
df_cleaned = df.drop(['year', 'month'], axis=1)

df_cleaned.head()

   passengers       Date
0         112 1949-01-01
1         118 1949-02-01
2         132 1949-03-01
3         129 1949-04-01
4         121 1949-05-01

In [56]:
# Save cleaned dataset as CSV
df_cleaned.to_csv("cleaned_flights_data.csv", index=False)